In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("titanic_data.csv")

In [52]:
print(df.head())

  Survived Passenger Class                                             Name  \
0      Yes           First                    Allen, Miss. Elisabeth Walton
1      Yes           First                   Allison, Master. Hudson Trevor
2       No           First                     Allison, Miss. Helen Loraine
3       No           First             Allison, Mr. Hudson Joshua Creighton
4       No           First  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

      Sex      Age  No of Siblings or Spouses on Board  \
0  Female  29.0000                                 0.0
1    Male   0.9167                                 1.0
2  Female   2.0000                                 1.0
3    Male  30.0000                                 1.0
4  Female  25.0000                                 1.0

   No of Parents or Children on Board Ticket Number  Passenger Fare    Cabin  \
0                                 0.0         24160        211.3375       B5
1                                 2.0        113781        151.5500  C22 C26
2                                 2.0        113781        151.5500  C22 C26
3                                 2.0        113781        151.5500  C22 C26
4                                 2.0        113781        151.5500  C22 C26

  Port of Embarkation Life Boat
0         Southampton         2
1         Southampton        11
2         Southampton       NaN
3         Southampton       NaN
4         Southampton       NaN

In [53]:
print(df.tail())

     Survived Passenger Class                       Name     Sex   Age  \
1305       No           Third      Zabour, Miss. Thamine  Female   NaN
1306       No           Third  Zakarian, Mr. Mapriededer    Male  26.5
1307       No           Third        Zakarian, Mr. Ortin    Male  27.0
1308       No           Third         Zimmerman, Mr. Leo    Male  29.0
1309      NaN             NaN                        NaN     NaN   NaN

      No of Siblings or Spouses on Board  No of Parents or Children on Board  \
1305                                 1.0                                 0.0
1306                                 0.0                                 0.0
1307                                 0.0                                 0.0
1308                                 0.0                                 0.0
1309                                 NaN                                 NaN

     Ticket Number  Passenger Fare Cabin Port of Embarkation Life Boat
1305          2665         14.4542   NaN           Cherbourg       NaN
1306          2656          7.2250   NaN           Cherbourg       NaN
1307          2670          7.2250   NaN           Cherbourg       NaN
1308        315082          7.8750   NaN         Southampton       NaN
1309           NaN             NaN   NaN                 NaN       NaN

In [54]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Survived                            1309 non-null   object
 1   Passenger Class                     1309 non-null   object
 2   Name                                1309 non-null   object
 3   Sex                                 1309 non-null   object
 4   Age                                 1046 non-null   float64
 5   No of Siblings or Spouses on Board  1309 non-null   float64
 6   No of Parents or Children on Board  1309 non-null   float64
 7   Ticket Number                       1309 non-null   object
 8   Passenger Fare                      1308 non-null   float64
 9   Cabin                               295 non-null    object
 10  Port of Embarkation                 1307 non-null   object
 11  Life Boat                           486 non-null    object
dtypes: float64(4), object(8)
memory usage: 122.9+ KB
None

In [55]:
print(df.describe())

               Age  No of Siblings or Spouses on Board  \
count  1046.000000                         1309.000000
mean     29.881135                            0.498854
std      14.413500                            1.041658
min       0.166700                            0.000000
25%      21.000000                            0.000000
50%      28.000000                            0.000000
75%      39.000000                            1.000000
max      80.000000                            8.000000

       No of Parents or Children on Board  Passenger Fare
count                         1309.000000     1308.000000
mean                             0.385027       33.295479
std                              0.865560       51.758668
min                              0.000000        0.000000
25%                              0.000000        7.895800
50%                              0.000000       14.454200
75%                              0.000000       31.275000
max                              9.000000      512.329200

In [56]:
print(df.isnull().sum())

Survived                                 1
Passenger Class                          1
Name                                     1
Sex                                      1
Age                                    264
No of Siblings or Spouses on Board       1
No of Parents or Children on Board       1
Ticket Number                            1
Passenger Fare                           2
Cabin                                 1015
Port of Embarkation                      3
Life Boat                              824
dtype: int64

In [57]:
df = df.dropna()

In [58]:
print(df.dtypes)

Survived                               object
Passenger Class                        object
Name                                   object
Sex                                    object
Age                                   float64
No of Siblings or Spouses on Board    float64
No of Parents or Children on Board    float64
Ticket Number                          object
Passenger Fare                        float64
Cabin                                  object
Port of Embarkation                    object
Life Boat                              object
dtype: object

In [59]:
df["Age"] = df["Age"].astype(int)

In [60]:
df = df.drop(["Cabin"], axis=1)

In [61]:
df = df.drop_duplicates()

In [49]:
df.to_csv("titanic_cleaned.csv", index=False)